.fade.in {
    opacity: 1;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.alert {
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
  
    padding: 15px;
}

.fade {
    opacity: 0;
    transition: opacity 0.15s linear 0s;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.align-left{
    text-align: left;
}

.ng-table th{
    text-align: left !important;
}
.center{
  text-align: center !important;  
}
.border-box{
    border:1px solid #bdbdbd;
    background-color: transparent !important;
    box-sizing: border-box;
    color: #bdbdbd !important;
    height: auto!important;
    padding-left: 8px !important;
    padding-top: 4px !important;
}

.input-field{
    padding:5px;
    margin:5px;
    width: 40%;
}

.small{
    font-size:10px;
    font-weight:normal;
    
}

#scroll {
height:190px;
margin:10px auto;
overflow:auto;

}

#small_div {
margin:20px 10px 0 10px;
white-space:wrap;
}


.rating-static {
  width: 60px;
  height: 16px;
  display: block;
  background: url('http://www.itsalif.info/blogfiles/rating/star-rating.png') 0 0 no-repeat;
}
.rating-50 { background-position: 0 0; }
.rating-40 { background-position: -12px 0; } 
.rating-30 { background-position: -24px 0; }
.rating-20 { background-position: -36px 0; }
.rating-10 { background-position: -48px 0; }
.rating-0 { background-position: -60px 0; }
 
.rating-5  { background-position: -48px -16px; }
.rating-15 { background-position: -36px -16px; }
.rating-25 { background-position: -24px -16px; }
.rating-35 { background-position: -12px -16px; }
.rating-45 { background-position: 0 -16px; }

.logo_div{
    border:1px solid #CCCCCC;
}

#rate_div{
    margin:10px;
}
.margin-right-5{
    margin-right:5px;
}
.margin-right-10{
    margin-right:10px;
}

.margin-top-10{
    margin-top:10px;
}
.thumbnail{
     overflow: hidden;
     height: 220px;
     min-height:220px;
}
.small-text{
  font-size:14px;  
}

.break_work{
    word-wrap: break-word; 
    width: 50%
}

.break_work_80{
    word-wrap: break-word; 
    width: 80%
}

.green_text{
    color:#64B526 !important;
    font-weight:700;
}

.top-buffer{
    margin-top:20px; 
}
.image_box{
    border:1px solid #CCCCCC;
    position: relative;
}
.logo_img_box{
    border:1px solid #CCCCCC;
    position: absolute;
    top:5px;
    left:5px;
}
.small_text{
    font-size: 10px;
    font-weight: normal;
}
.contextMenu{
    display:none;
}
.input-100{
    width: 100px !important;
}
.input-80{
    width: 80px !important;
}
/*=============================*/



/*=============================*/