<section class="text-fields" ng-controller="PromotionController" >
  <div class="mdl-color--amber ml-header relative clear">
    <div class="p-20">
      <h3 class="mdl-color-text--white m-t-20 m-b-5">Add Offer</h3>
      <h4 class="mdl-color-text--amber-100 m-b-20 no-m-t w100">&nbsp;</h4>
    </div>
  </div>

  <div class="mdl-grid mdl-grid--no-spacing">

    <!-- <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-color--grey-100">
      <div class="p-40 p-r-20 p-20--small">
        <div class=" mdl-color-text--blue-grey-400">
          <h3>&nbsp;</h3>
          <p>&nbsp;</p>          
        </div>
      </div>
    </div> -->

    <div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">
      <div class="p-5 ml-card-holder ml-card-holder-first">
        <div class="mdl-card mdl-shadow--1dp">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">User Add Offer</h2>
          </div>
          <div class="p-l-20 p-r-20 p-b-20" id="show_message" style="display:none">
            <div id="success_div" class="alert alert-success">
                
            </div>
             <div id="error_div" class="alert alert-danger">
                
            </div>
          </div>
          <form name="promotionForm"  novalidate>
          <div class="p-5">
              <div class="col-sm-12">
                <div class="form-group">               
                  <select ng-model="promotion.campaign_id" class="form-control" id="campaign_id">
                    <option value="">--Select Campaign--</option>
                    <option  value="{{campaign.id}}" ng-repeat="campaign in campaign_list" >{{campaign.campaign_name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-12 nopadding">
                <div class="col-sm-6">
                  <div class="form-group">               
                    <select class="form-control" id="category_id">
                      <option value="">--Select Category--</option>
                      <option value="{{cat.id}}" ng-repeat="cat in cat_list" >{{cat.cat_name}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">               
                    <select class="form-control" id="sel1">
                      <option>Sub Category</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 nopadding">
                <div class="col-sm-6">
                  <div class="form-group">                    
                    <textarea class="form-control"  ng-model="offer_description" placeholder="Offer Description" rows="2" id="offer_description"  ng-Trim="false"  ></textarea>
                  </div>
                </div>
                <div class="col-sm-6 nopadding">
                  <div class="col-sm-6 nopadding-right">
                    <div class="form-group">                   
                      <input type="text" ng-model="promotion.total_redeemar" id="total_redeemar" placeholder="No. redeemars" class="form-control"  >
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">                   
                      <input type="text" ng-model="promotion.total_redeemar_price" id="total_redeemar_price" placeholder="Price" class="form-control"  >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 nopadding">                
                <div class="col-sm-6 ">
                  <div class="col-sm-6 nopadding">
                    <div class="form-group">                   
                      <input ng-model="promotion.c_s_date" class="mdl-textfield__input" type="text" id="c_s_date" readonly placeholder="Start Date"  />                     
                    </div>
                  </div>
                  <div class="col-sm-6 nopadding-right">
                    <div class="form-group">                   
                      <input ng-model="promotion.c_e_date" class="mdl-textfield__input" type="text" id="c_e_date" readonly placeholder="End Date"  />
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="col-sm-6 nopadding">
                    <div class="form-group">                   
                      <input value="0.65" type="radio" name="total_payment" id="checkbox-2" class="mdl-checkbox__input" checked />
                      <span class="mdl-checkbox__label">PrePay .65</span>
                    </div>
                  </div>
                  <div class="col-sm-6 nopadding">
                    <div class="form-group">                   
                      <input value="1.05" type="radio" name="total_payment" id="checkbox-3" class="mdl-checkbox__input" />
                      <span class="mdl-checkbox__label">Pay on validation 1.05</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">                    
                    <textarea class="form-control" ng-model="what_you_get" placeholder="What You Get" rows="2" id="what_you_get" ng-Trim="false"></textarea>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">                    
                    <textarea class="form-control" ng-model="promotion.more_information" placeholder="More Information About the Deal" rows="2" id="more_information"></textarea>
                  </div>
                </div>
              </div>
          </div>

          <div class="p-5">
              <div class="col-sm-12">
                <div class="form-group">               
                  Image Capture
                  <hr />
                </div>
              </div>
              <div class="col-sm-12 nopadding">
                <div class="col-sm-6">               
                  <button ng-click="open_pop()"  type="button" class="btn btn-primary">Primary</button>

                </div>
                <div class="col-sm-6">               
                  <img ng-src="{{file_path}}../uploads/no-image-found.gif" width="150" />
                </div>
              </div>
          </div>

          <div class="p-5">
              <div class="col-sm-12">
                <div class="form-group">               
                  Product Discount
                  <hr />
                </div>
              </div>
              <!-- <div class="col-sm-12"> -->
                <!-- <button class="addfields" ng-click="addNewChoice()">Add fields</button>-->
                <!-- <div class="col-sm-12 ">                                                 
                      <select ng-options="inventory.inventory_name for inventory in inventory_list" ng-model="inventory_id" name="inventory_list[]" ng-change="get_inventory()" id="inventory_list" >                      
                        <option value="">-- choose an option --</option>
                    </select>                              
                </div>
                <div class="col-sm-12 ">   
                  <div class="col-sm-6 ">
                    <div class="col-sm-6 ">
                      <input type="text" ng-model="promotion.cost" id="cost" placeholder="Cost" class="form-control"  >
                    </div>
                    <div class="col-sm-6 ">
                      <input type="text" ng-model="promotion.selling_price" id="selling_price" placeholder="Selling Price" class="form-control"  >
                      <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
                    </div>
                  </div> 
                  <div class="col-sm-6 ">
                    <img ng-src="{{file_path}}../uploads/no-image-found.gif" id="inventory_image" width="150" />
                  </div> 
                </div> 
                <div id="choicesDisplay">
                  {{ choices }}
               </div> -->



                <!-- <fieldset  data-ng-repeat="choice in choices">
                  <select>
                     <option>Mobile</option>
                     <option>Office</option>
                     <option>Home</option>
                  </select>
                  <input type="text" ng-model="choice.name" name="" placeholder="Enter mobile number">
                  <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
               </fieldset>
               <button class="addfields" ng-click="addNewChoice()">Add fields</button>
                   
               <div id="choicesDisplay">
                  {{ choices }}
               </div>  -->
                
            <!-- </div> -->
            <!-- <div class="col-sm-12"  >
                <button class="addfields" ng-click="addNewChoice()">Add fields</button>
            </div> -->
            <!-- <div class="col-sm-12 nopadding"  data-ng-repeat="choice in choices"> -->
              <!-- <div class="col-sm-12 nopadding">   
                <div class="col-sm-6 ">    -->
                  <!-- <select ng-options="inventory.id as inventory.inventory_name for inventory in inventory_list" ng-model="inventory_id" ng-change="get_inventory()" id="inventory_list" >
                      <option value="">-- choose an option --</option>
                  </select>  -->

                  <!-- <select  ng-model="inventory_id" ng-change="get_inventory()" id="inventory_list" >
                      <option value="">-- choose an option --</option>
                      <option value="{{inventory.id}}" ng-repeat="inventory in inventory_list" >{{inventory.inventory_name}}</option>
                  </select> 
                </div>
              </div> -->
              <!-- <div class="col-sm-12 nopadding">   
                <div class="col-sm-3 ">   
                  <input type="text" ng-model="promotion.cost" id="cost" placeholder="Cost" class="form-control"  >
                </div>
                <div class="col-sm-3 ">   
                  <input type="text" ng-model="promotion.selling_price" id="selling_price" placeholder="Selling Price" class="form-control"  >
                </div>
                <div class="col-sm-3 ">   
                  <img ng-src="{{file_path}}../uploads/no-image-found.gif" id="inventory_image" width="150" />
                   
                </div>
                <div class="col-sm-3 ">  
                  <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
                </div>

              </div> -->
            <!-- </div> -->
            <!-- <div class="col-sm-12 ">   
              <div class="col-sm-12 nopadding">   
                <div class="col-sm-6 ">  
                   <select  ng-model="inventory_id" ng-change="get_inventory()" id="inventory_list" >
                      <option value="">-- choose an option --</option>
                      <option value="{{inventory.id}}" ng-repeat="inventory in inventory_list" >{{inventory.inventory_name}}</option>
                  </select> 
                </div>
              </div>
              <div class="col-sm-12 nopadding">   
                <div class="col-sm-3 ">   
                  <input type="text" ng-model="promotion.cost" id="cost" placeholder="Cost" class="form-control"  >
                </div>
                <div class="col-sm-3 ">   
                  <input type="text" ng-model="promotion.selling_price" id="selling_price" placeholder="Selling Price" class="form-control"  >
                </div>
                <div class="col-sm-3 ">   
                  <img ng-src="{{file_path}}../uploads/no-image-found.gif" id="inventory_image" width="150" />                   
                </div>
                <div class="col-sm-3 ">  
                  <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
                </div>
              </div>
            </div> -->

            <div class="col-sm-12 nopadding">
              <div class="col-sm-7 nopadding">
                <div class="col-sm-12 ">
                  <div class="col-sm-12 nopadding">  
                     <select  ng-model="inventory_id" ng-change="get_inventory()" id="inventory_list" >
                        <option value="">-- choose an option --</option>
                        <option value="{{inventory.id}}" ng-repeat="inventory in inventory_list" >{{inventory.inventory_name}}</option>
                    </select> 
                  </div>
                </div>
                <div class="col-sm-12 ">
                  <div class="col-sm-5 nopadding margin-right-5">
                    <input type="text" ng-model="promotion.cost" id="cost" placeholder="Cost" class="form-control"  >
                  </div>
                  <div class="col-sm-6 nopadding">
                    <input type="text" ng-model="promotion.selling_price" id="selling_price" placeholder="Selling Price" class="form-control"  >
                  </div>
                </div>
              </div>
              <div class="col-sm-5 ">
                 <img ng-src="{{file_path}}../uploads/no-image-found.gif" id="inventory_image" width="150" />   
              </div>
            </div>
          </div>

          <div class="p-5">
              <div class="col-sm-12">
                <div class="form-group">               
                  Offer Value
                  <hr />
                </div>
              </div>
              <div class="col-sm-12 nopadding">
                <div class="col-sm-3">               
                   <input type="text" id="pay_value" placeholder="$ Pay" class="form-control">
                </div>
                <div class="col-sm-3">               
                   <input type="text" id="retails_value" placeholder="$ Retail Value" class="form-control">
                </div>
                <div class="col-sm-6">               
                   <input value="1" type="checkbox" name="include_product_value" id="include_product_value" class="mdl-checkbox__input" />
                      <span class="mdl-checkbox__label">Include Product Value</span>
                </div>
              </div>
          </div>

          <div class="p-5">
              <div class="col-sm-12">
                <div class="form-group">               
                  <button ng-disabled="promotionForm.$invalid" ng-click="add_offer()"   class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                  Add Directory
                  </button>  
                </div>
              </div>              
          </div>
        </form>
        </div>
      </div>
      <div class="p-40 p-r-20 p-20--small">
        <div class=" mdl-color-text--blue-grey-400">
          <h3>&nbsp;</h3>
          <p>&nbsp;</p>          
        </div>
      </div>
    </div>

    <!-- Preview Section -->
    <div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-color--grey-100">
      <div class="p-5 ml-card-holder ml-card-holder-first">
        <div class="mdl-card mdl-shadow--1dp">
            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">Preview</h2>
            </div>
            <div class="mdl-tabs mdl-js-tabs">
                <div class="mdl-tabs__tab-bar">
                  <a href="#starks-panel" class="mdl-tabs__tab is-active">Mode 1</a>
                  <a href="#lannisters-panel" class="mdl-tabs__tab">Mode 2</a>
                  <a href="#targaryens-panel" class="mdl-tabs__tab">Details</a>
                </div>

                <div class="mdl-tabs__panel is-active" id="starks-panel">
                  <div class="p-20">
                    <div class="col-sm-12 ">
                      <img ng-src="{{file_path}}../uploads/no-image-found.gif" width="265" />
                    </div>
                    <div class="col-sm-12 small-text">
                      <div class="col-sm-6 break_work green_text" ng-bind="offer_description"   >

                      </div>
                      <div class="col-sm-6">
                        <div class="col-sm-6 green_text">
                          <span>Pay</span>
                          $<span ng-bind="inventory_item.cost"></span>
                        </div>
                        <div class="col-sm-6 green_text">
                          <span>Save</span>
                          $<span></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mdl-tabs__panel" id="lannisters-panel">
                  <div class="p-20">
                    <div class="col-sm-12 ">
                      <div class="col-sm-6 ">
                      <img ng-src="{{file_path}}../uploads/no-image-found.gif" width="150" />
                      </div>
                      <div class="col-sm-6 green_text break_work"  ng-bind="offer_description" >
                        
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mdl-tabs__panel" id="targaryens-panel">
                  <div class="p-20">
                    <div class="col-sm-12 ">
                      <img ng-src="{{file_path}}../uploads/no-image-found.gif" width="265" />
                    </div>
                    <div class="col-sm-12 green_text break_work_80" ng-bind="offer_description"   >

                    </div>
                    <div class="col-sm-12 " ng-bind="what_you_get"   >

                    </div>
                  </div>
                </div>
              </div>


            </div>
        </div>
      </div>
    </div>
    <!-- //Preview Section -->


  </div> 

</section>


<style>
.nopadding-left{
  padding-left:0;
}
.nopadding-right{
  padding-right:0;
}
.nopadding{
  padding:0;
}
</style>
