<section class="text-fields" ng-controller="PromotionController" >
  <div class="mdl-color--amber ml-header relative clear">
    <div class="p-20">
      <h3 class="mdl-color-text--white m-t-20 m-b-5">Add Offer</h3>
      <h4 class="mdl-color-text--amber-100 m-b-20 no-m-t w100">&nbsp;</h4>
    </div>
  </div>

  <div class="mdl-grid mdl-grid--no-spacing">

    <!-- <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-color--grey-100">
      <div class="p-40 p-r-20 p-20--small">
        <div class=" mdl-color-text--blue-grey-400">
          <h3>&nbsp;</h3>
          <p>&nbsp;</p>          
        </div>
      </div>
    </div> -->

    <div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">
      <div class="p-5 ml-card-holder ml-card-holder-first">
        <div class="mdl-card mdl-shadow--1dp">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">User Add Offer</h2>
          </div>
          <div class="p-l-20 p-r-20 p-b-20" id="show_message" style="display:none">
            <div id="success_div" class="alert alert-success">
                
            </div>
             <div id="error_div" class="alert alert-danger">
                
            </div>
          </div>
          <form name="promotionForm"  novalidate>
          <div class="p-5">
              <div class="col-sm-12">
                <div class="form-group">               
                  <select ng-model="promotion.campaign_id" class="form-control" id="campaign_id">
                    <option value="">--Select Campaign--</option>
                    <option  value="{{campaign.id}}" ng-repeat="campaign in campaign_list" >{{campaign.campaign_name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-12 nopadding">
                <div class="col-sm-6">
                  <div class="form-group">               
                    <!-- <select class="form-control" id="">
                      <option value="">--Select Category--</option>
                      <option value="{{cat.id}}" ng-repeat="cat in cat_list" >{{cat.cat_name}}</option>
                    </select> -->
                     Category: 
                     <span ng-bind="category_show"></span>
                     <input type="hidden" ng-model="category_id" id="category_id"  class="form-control"  >
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">               
                    <!-- <select class="form-control" id="subcat_id">
                      <option>Sub Category</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select> -->     
                    Sub-Category:        
                    <span ng-bind="sub_category_show"></span>
                    <input type="hidden" ng-model="subcat_id" id="subcat_id"  class="form-control"  >
                  </div>
                </div>
              </div>
              <div class="col-sm-12 nopadding">
                <div class="col-sm-6">
                  <div class="form-group">                    
                    <textarea class="form-control"  ng-model="offer_description" placeholder="Offer Description" rows="2" id="offer_description"  ng-Trim="false"  ></textarea>
                  </div>
                </div>
                <div class="col-sm-6 nopadding">
                  <div class="col-sm-6 nopadding-right" style="padding-left:0; padding:0">
                    <div class="form-group">                   
                      <input type="text" ng-model="promotion.total_redeemar" id="total_redeemar" placeholder="No. redeemars" class="form-control" style="padding:0; margin:0" >
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">                   
                      <input type="text" ng-model="promotion.total_redeemar_price" id="total_redeemar_price" placeholder="Price" class="form-control"  >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 nopadding">                
                <div class="col-sm-6 ">
                  <div class="col-sm-6 nopadding">
                    <div class="form-group">                   
                      <input ng-model="promotion.c_s_date" class="mdl-textfield__input" type="text" id="c_s_date" placeholder="Start Date"  />                     
                    </div>
                  </div>
                  <div class="col-sm-6 nopadding-right">
                    <div class="form-group">                   
                      <input ng-model="promotion.c_e_date" class="mdl-textfield__input" type="text" id="c_e_date" placeholder="End Date"  />
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="col-sm-6 nopadding">
                    <div class="form-group">                   
                      <input value="0.65" type="radio" name="total_payment" id="checkbox-2" class="mdl-checkbox__input" checked />
                      <span class="mdl-checkbox__label">PrePay .65</span>
                    </div>
                  </div>
                  <div class="col-sm-6 nopadding">
                    <div class="form-group">                   
                      <input value="1.05" type="radio" name="total_payment" id="checkbox-3" class="mdl-checkbox__input" />
                      <span class="mdl-checkbox__label">Pay on validation 1.05</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">                    
                    <textarea class="form-control" ng-model="what_you_get" placeholder="What You Get" rows="2" id="what_you_get" ng-Trim="false"></textarea>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">                    
                    <textarea class="form-control" ng-model="promotion.more_information" placeholder="More Information About the Deal" rows="2" id="more_information"></textarea>
                  </div>
                </div>
              </div>
          </div>

          <div class="p-5">
            <div class="col-sm-12">
              <div class="form-group">               
                Validation
                <hr />
              </div>
            </div> 
            <div class="col-sm-12">
              <div class="col-sm-6">
                Validate After
              </div>
              <div class="col-sm-6">
                 Validate within                
              </div>
              <div class="col-sm-6">
                <input type="text" ng-model="promotion.validate_after" id="validate_after" placeholder="Hour" class="form-control input-80"  >               
              </div>
              <div class="col-sm-6">
                <input type="text" ng-model="promotion.validate_within" id="validate_within" placeholder="Hour" class="form-control input-80"  >               
              </div>             
            </div>
          </div>

          <div class="p-5">
              <div class="col-sm-12">
                <div class="form-group">               
                  Image Capture
                  <hr />
                </div>
              </div> 
              <div class="col-sm-12">   
                <div class="col-sm-6"> 
                  <input value="1" type="radio" name="choose_image" id="checkbox-7" class="mdl-checkbox__input" checked /> Choose Image From Repository
                </div>
                 <div class="col-sm-6"> 
                  <input value="2" type="radio" name="choose_image" id="checkbox-8" class="mdl-checkbox__input"  /> Use My logo
                </div>
              </div>
              <div class="col-sm-12 nopadding ">
                <div class="col-sm-6 image_chooser">               
                   <div class="get_val_rel"></div>
                  <a value="1" class=" various fancybox.iframe put_href" href="/reedemer/filemanager/index.html" rel="300"> 
                      <button  type="button" class="btn btn-primary">Import Image</button>
                  </a>
                </div>
                <div class="col-sm-6">               
                  <img class="campaign_image_show" ng-src="{{file_path}}../uploads/no-image-found.gif" width="150" />
                  <input type="hidden" name="camp_img_id" id="camp_img_id" value="" />
                  <!-- <input type="text" name="user_folder_id_first" id="user_folder_id_first" value="60" /> -->
                </div>
              </div>
          </div>

          <div class="p-5">
            <div class="col-sm-12">
              <div class="form-group">               
                Product Discount
                <hr />
              </div>
            </div>              
            <div class="col-sm-12">
              <div class="col-sm-6">
                 <input type='button' ng-click="addNewChoice()" value='Add More Inventory{{choices.id}}' id='saddButton'>
              </div>
              <div class="col-sm-6">
                <a value="1" class=" various fancybox.iframe put_href" href="http://localhost/reedemer/admin/public/user/dashboard#/inventory/add" rel="300"> 
                 Add Inventory Item
               </a>
              </div>
            </div>
            <div class="col-sm-12 nopadding" data-ng-repeat="choice in choices">
              <div class="col-sm-7 nopadding">
                <div class="col-sm-12 ">
                  <div class="col-sm-12 nopadding">  
                     <select  ng-model="inventory_id" ng-change="get_inventory(inventory_id, choice.id)" id="inventory_list{{choice.id}}" class="inventory_class" >
                        <option value="">-- choose an option --</option>
                        <option value="{{inventory.id}}" ng-repeat="inventory in inventory_list" >{{inventory.inventory_name}}</option>
                    </select> 
                  </div>
                </div>
                <div class="col-sm-12 ">
                  <div class="col-sm-5 nopadding margin-right-5">
                    <input type="text" ng-model="promotion.cost" id="cost{{choice.id}}" placeholder="Cost" class="form-control"  >
                  </div>
                  <div class="col-sm-6 nopadding">
                    <input type="text" name="selling_price" ng-model="promotion.selling_price" id="selling_price{{choice.id}}" placeholder="Selling Price" class="form-control selling_price_class"  >
                  </div>
                </div>
                <div class="col-sm-12 ">
                  <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
                </div>
              </div>
              <div class="col-sm-5 ">
                 <img ng-src="{{file_path}}../uploads/no-image-found.gif" id="inventory_image{{choice.id}}" width="150" />   
              </div>
            </div>
          </div>

          <div class="p-5">
              <div class="col-sm-12">
                <div class="form-group">               
                  Offer Value
                  <hr />
                </div>
              </div>
              <div class="col-sm-12 nopadding">
                <div class="col-sm-4">               
                   <input type="text" ng-model="pay_value" ng-change="set_discount()" id="pay_value" placeholder="$ Pay" class="form-control">
                </div>
                <div class="col-sm-4">               
                   <input type="text" id="retails_value" placeholder="$ Retail Value" class="form-control retail_value_class">
                </div>
                <div class="col-sm-4">               
                   <input ng-click="include_price(choice.id)" value="1" type="checkbox" name="include_product_value" id="include_product_value" class="mdl-checkbox__input" />
                      <span class="mdl-checkbox__label">Include Product Value</span>
                </div>
              </div>
              <div class="col-sm-12 nopadding margin-top-10">
                <div class="col-sm-4">               
                   OFF
                </div>
                <div class="col-sm-4">               
                   DISCOUNT
                </div>
                <div class="col-sm-4">               
                   SAVING
                </div>
              </div>
              <div class="col-sm-12 nopadding margin-top-10">
                <div class="col-sm-4">
                   <div class="col-sm-12" style="mardin:0; padding:0">    
                    <input type="text" ng-model="off_value" id="off_value" placeholder="" class="form-control">
                  </div>
                  <div class="col-sm-6" style="mardin:0; padding:0">    
                    <input type="radio" ng-click="set_discount()" name="value_calculate" value="1" checked /> %
                  </div>
                  <div class="col-sm-6" style="mardin:0; padding:0" >    
                    <input type="radio" ng-click="set_discount()" name="value_calculate" value="2" /> $
                  </div>
                </div>
                <div class="col-sm-4">  
                   <div class="col-sm-12" style="mardin:0; padding:0">    
                   <input type="text" ng-model="discount_value" id="discount_value" placeholder="" class="form-control">
                  </div>
                  <div class="col-sm-6" style="mardin:0; padding:0">    
                    <input type="radio" ng-click="set_discount()" name="value_calculate" value="3" /> %
                  </div>
                  <div class="col-sm-6" style="mardin:0; padding:0" >    
                    <input type="radio" ng-click="set_discount()" name="value_calculate" value="4" /> $
                  </div>
                </div>
                <div class="col-sm-4 nopadding">               
                  <div class="col-sm-12" style="mardin:0; padding:0">    
                    <input type="text" ng-model="saving_value" id="saving_value" placeholder="" class="form-control">
                  </div>
                  <div class="col-sm-6" style="mardin:0; padding:0">    
                    <input type="radio" ng-click="set_discount()" name="value_calculate" value="5" /> %
                  </div>
                  <div class="col-sm-6" style="mardin:0; padding:0" >    
                    <input type="radio" ng-click="set_discount()" name="value_calculate" value="6" /> $
                  </div>
                </div>
              </div>
          </div>

          <div class="p-5">
              <div class="col-sm-12">
                <div class="form-group">               
                  <button id="add_offer" ng-disabled="promotionForm.$invalid" ng-click="add_offer()"   class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                  Save
                  </button>  
                </div>
              </div>              
          </div>
        </form>
        </div>
      </div>
      <div class="p-40 p-r-20 p-20--small">
        <div class=" mdl-color-text--blue-grey-400">
          <h3>&nbsp;</h3>
          <p>&nbsp;</p>          
        </div>
      </div>
    </div>

    <!-- Preview Section -->
    <div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-color--grey-100">
      <div class="p-5 ml-card-holder ml-card-holder-first">
        <div class="mdl-card mdl-shadow--1dp">
            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">Preview</h2>
            </div>
            <div class="mdl-tabs mdl-js-tabs">
                <div class="mdl-tabs__tab-bar">
                  <a href="#starks-panel" class="mdl-tabs__tab is-active">Mode 1</a>
                  <a href="#lannisters-panel" class="mdl-tabs__tab">Mode 2</a>
                  <a href="#targaryens-panel" class="mdl-tabs__tab">Details</a>
                </div>

                <div class="mdl-tabs__panel is-active" id="starks-panel">
                  <div class="p-20">
                    <div class="col-sm-12 image_box" style="padding-left:0;padding-right:0; width:95%">
                      <img class="campaign_image_show" ng-src="{{file_path}}../uploads/no-image-found.gif" width="265" />
                      <div class="logo_img_box" style="opacity:0.8">                       
                        <img ng-src="{{site_path}}../uploads/original/{{ReedemerDetails.logo_image}}" class="demo-avatar img-responsive" width="100"  />
                      </div>
                    </div>
                    <div class="col-sm-12 small-text" style="margin:0; padding:0">
                      <div class="col-sm-6 break_work green_text" ng-bind="offer_description" style="margin:0; padding:0"  >

                      </div>
                      <div class="col-sm-6">
                        <div class="col-sm-6 green_text">
                          <span>Pay</span>
                          $<span id="pay_value_show">{{pay_value}}</span>
                        </div>
                        <div class="col-sm-6 green_text">
                          <span>Save</span>
                          <span id="save_value_show"></span>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-12 small-text">
                      <div class="col-sm-6"   >
                        &nbsp;
                      </div>
                      <div class="col-sm-6" style="margin:0; padding:0">
                        <div class="col-sm-6" style="margin:0; padding:0">
                          <span class="small_text">
                            $50 value
                          </span> 
                        </div>
                        <div class="col-sm-6" style="margin:0; padding:0">
                          <span class="small_text ">
                            Expires in <span class="expires_in">0</span> Days
                          </span>                          
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="mdl-tabs__panel" id="lannisters-panel">
                  <div class="p-20">
                    <div class="col-sm-12 ">
                      <div class="col-sm-6 ">
                      <img class="campaign_image_show" ng-src="{{file_path}}../uploads/no-image-found.gif" width="150" />
                      </div>
                      <div class="col-sm-6 green_text break_work"  ng-bind="offer_description" >
                        
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mdl-tabs__panel" id="targaryens-panel">
                  <div class="p-20">
                    <div class="col-sm-12 ">
                      <img class="campaign_image_show" ng-src="{{file_path}}../uploads/no-image-found.gif" width="265" />
                    </div>
                    <div class="col-sm-12 green_text break_work_80" ng-bind="offer_description"   >

                    </div>
                    <div class="col-sm-12 " ng-bind="what_you_get"   >

                    </div>
                  </div>
                </div>
              </div>


            </div>
        </div>
      </div>
    </div>
    <!-- //Preview Section --> 

  </div> 

</section>