<section class="text-fields" ng-controller="PromotionController" >
  <div class="mdl-color--amber ml-header relative clear">
    <div class="p-20">
      <h3 class="mdl-color-text--white m-t-20 m-b-5">Add Offer</h3>
      <h4 class="mdl-color-text--amber-100 m-b-20 no-m-t w100">&nbsp;</h4>
    </div>
  </div>

  <div class="mdl-grid mdl-grid--no-spacing">

    <!-- <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-color--grey-100">
      <div class="p-40 p-r-20 p-20--small">
        <div class=" mdl-color-text--blue-grey-400">
          <h3>&nbsp;</h3>
          <p>&nbsp;</p>          
        </div>
      </div>
    </div> -->

    <div class="mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">
      <div class="p-5 ml-card-holder ml-card-holder-first">
        <div class="mdl-card mdl-shadow--1dp">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">User Add Offer</h2>
          </div>
          <div class="p-l-20 p-r-20 p-b-20" id="show_message" style="display:none">
            <div id="success_div" class="alert alert-success">
                
            </div>
             <div id="error_div" class="alert alert-danger">
                
            </div>
          </div>

          <div class="p-5">
              <div class="f-left mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">
                  <div class="mdl-textfield">
                    <p>Campaign Name</p>
                     <select id="dir_id">
                        <option value="">----</option>
                        <option ng-selected="{{ cname.id == new_dir_id }}" value="{{cname.id}}" ng-repeat="cname in cnames" >{{cname.file_name}}</option>
                      </select>  
                  </div> 
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">   
                    <label class="mdl-textfield__label" for="cost">Offer Description</label>
                     <textarea  class="mdl-textfield__input" type="text" rows="2" ></textarea>
                  </div> 
                  <div class="mdl-grid mdl-grid--no-spacing"> 
                    <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">                  
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo p-5">                        
                        <input ng-model="promotion.c_s_date" class="mdl-textfield__input" type="text" id="c_s_date" readonly placeholder="Start Date"  />
                      </div>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">                  
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo p-5">                       
                        <input ng-model="promotion.c_e_date" class="mdl-textfield__input" type="text" id="c_e_date" readonly placeholder="End Date"  />
                      </div>
                    </div>
                  </div>
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">   
                    <label class="mdl-textfield__label" for="cost">What You Get</label>
                     <textarea  class="mdl-textfield__input" type="text" rows="2" ></textarea>
                  </div>
              </div>


              <div class="f-left mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">
                <div class="mdl-textfield">
                  &nbsp; 
                </div> 
                <div class="mdl-grid mdl-grid--no-spacing"> 
                  <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">                  
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo p-5"> 
                      
                      <input id="total_redeemars" ng-model="promotion.total_redeemars" class="mdl-textfield__input" type="text" placeholder="No. redeemars" id="total_redeemars" />
                    </div>
                  </div>
                  <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">                  
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo p-5"> 
                      <input id="price" ng-model="promotion.price" class="mdl-textfield__input" placeholder="Price" type="text" id="total_redeemars" />
                    </div>
                  </div>
                </div> 
                <div class="mdl-grid mdl-grid--no-spacing"> 
                  <div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">                  
                    <label class="mdl-checkbox mdl-js-checkbox mdl-textfield--floating-label mdl-js-ripple-effect" for="checkbox-2">
                      <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input" />
                      <span class="mdl-checkbox__label">PrePay .65</span>
                    </label>
                  </div>
                  <div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">  
                    <label class="mdl-checkbox mdl-js-checkbox mdl-textfield--floating-label mdl-js-ripple-effect" for="checkbox-3">                
                      <input type="checkbox" id="checkbox-3" class="mdl-checkbox__input" />
                      <span class="mdl-checkbox__label">Pay on validation 1.05</span>
                    </label>
                  </div>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">   
                  <label class="mdl-textfield__label" for="cost">More Information About the Deal</label>
                   <textarea  class="mdl-textfield__input" type="text" rows="2" ></textarea>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="p-40 p-r-20 p-20--small">
        <div class=" mdl-color-text--blue-grey-400">
          <h3>&nbsp;</h3>
          <p>&nbsp;</p>          
        </div>
      </div>
    </div>

    <!-- Preview Section -->
    <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-color--grey-100">
      <div class="p-5 ml-card-holder ml-card-holder-first">
        <div class="mdl-card mdl-shadow--1dp">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Preview</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- //Preview Section -->


  </div>  
</section>
