<section class="text-fields" ng-controller="LogoController" >
  <div class="mdl-color--amber ml-header relative clear">
    <div class="p-20">
      <h3 class="mdl-color-text--white m-t-20 m-b-5">Logo Creator</h3>
      <h4 class="mdl-color-text--amber-100 m-b-20 no-m-t w100">&nbsp;</h4>
    </div>
  </div>

  <div class="mdl-grid mdl-grid--no-spacing">

    <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-color--grey-100">
      <div class="p-40 p-r-20 p-20--small">
        <div class=" mdl-color-text--blue-grey-400">
          <h3>&nbsp;</h3>
          <p>&nbsp;</p>          
        </div>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--9-col mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">
      <div class="p-20 ml-card-holder ml-card-holder-first">
        <div class="mdl-card mdl-shadow--1dp">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Logo Creator</h2>
          </div>
          <div class="p-l-20 p-r-20 p-b-20" id="show_message" style="display:none">
            <div id="success_div" class="alert alert-success">
                
            </div>
             <div id="error_div" class="alert alert-danger">
                
            </div>
          </div>

          <div class="p-30">
            <div class="demo-grid-ruler mdl-grid">
              <div class="mdl-cell border-box mdl-cell--12-col">
                Search for my logo
                <input ng-model="Redeemer.logo_text"  type="text" id="logo_text" placeholder="Company Name" class="input-field" />
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    Search
                  </button>               
              </div>            
            </div>
            <div class="demo-grid-2 mdl-grid">              
              <div class="mdl-cell border-box mdl-cell--12-col">
                <div class="demo-grid-ruler mdl-grid">
                  <div class="mdl-cell border-box mdl-cell--3-col" ng-repeat="logo in logo_details">                    
                    <span>
                      <img src="{{file_path}}../uploads/original/{{logo.logo_name}}" width="80" />
                    </span><br/>
                    <span>
                      <input  ng-click="show_rating(logo.id);" type="radio" name="company_logo_id" value="{{logo.id}}" />
                      <strong>{{logo.logo_text}}</strong>
                    </span>
                  </div>
                </div>              
              </div>
              <div class="demo-grid-2 mdl-grid">
                <div class="mdl-cell border-box border-box mdl-cell--6-col">6</div>
                <div class="mdl-cell border-box mdl-cell--6-col">
                  <div class="demo-grid-ruler mdl-grid center">
                  <div id="">
                    <span>Congratulations !</span>
                    <span>We have found your logo {{tracking_rating}}</span>
                    <span>
                      <img src="{{file_path}}../uploads/original/{{logo_name}}" width="150" />
                    </span>
                  </div>
                  <div id="loading_div" class="demo-grid-ruler mdl-grid center">
                    <img src="{{file_path}}images/loader.gif" />
                  </div>
                  <div id="rating_div" class=" center"> </div>
                  <div>
                </div>           
              </div>            
          </div>
        </div>
      </div>
    </div>
  </div>  
</section>
<script>

</script>