
<section class="text-fields" ng-controller="LogoController" >
  <div class="mdl-color--amber ml-header relative clear">
    <div class="p-20">
      <h3 class="mdl-color-text--white m-t-20 m-b-5">Logo Creator</h3>
      <h4 class="mdl-color-text--amber-100 m-b-20 no-m-t w100">&nbsp;</h4>
    </div>
  </div>

  <div class="mdl-grid mdl-grid--no-spacing">

    <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-color--grey-100">
      <div class="p-40 p-r-20 p-20--small">
        <div class=" mdl-color-text--blue-grey-400">
          <h3>&nbsp;</h3>
          <p>&nbsp;</p>          
        </div>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--9-col mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">
      <div class="p-20 ml-card-holder ml-card-holder-first">
        <div class="mdl-card mdl-shadow--1dp">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Logo Creator</h2>
          </div>
          

          <div class="p-30">
            <div class="demo-grid-ruler mdl-grid">
              <div class="mdl-cell border-box mdl-cell--12-col">
                Search for my logo
                <input ng-model="searchText"  type="text" placeholder="Company Name" class="input-field" />
                     
                  <div id="filter-count"></div>            
              </div>            
            </div>
            <div class="demo-grid-2 mdl-grid">              
              <div class="mdl-cell border-box mdl-cell--12-col">
                <div class="demo-grid-ruler mdl-grid">
                  <div class="mdl-cell border-box mdl-cell--3-col searchlist" ng-repeat="logo in logo_details | filter:{ logo_text: searchText }"  >                    
                    <div style="height:80px;overflow:hidden;">
                      <img src="{{file_path}}../uploads/original/{{logo.logo_name}}" width="80" />
                    </div><br/>
                    <div>
                      <input  ng-click="show_rating(logo.id);" type="radio" name="company_logo_id" value="{{logo.id}}" />
                      <strong>{{logo.logo_text}}</strong>
                    </div>
                  </div>
                </div>              
              </div>
              <div class="demo-grid-2 mdl-grid">
                <div class="mdl-cell border-box border-box mdl-cell--6-col">
                  <div><h3>Logo Creator</h3></div>
                  <div>
                    <div class="center"><h3>Upload File</h3></div>
                    <div>
                      <p class="small"><small>JPG/JPEG formats</small></p>
                      <p class="small"><small>50MB Max File Size</small></p>                      
                    </div>
                    <div>
                      <p>
                        <input type = "file" ng-model="Logo.logo_name" file-model = "myFile" id="logo_name" />

                      </p>
                      <p>
                        <input ng-model="Logo.logo_text" class="mdl-textfield__input" type="text" id="logo_text" placeholder="Logo Text" />
                      </p>
                      <p><hr></p>
                      <p class="small"> 
                        By uploading the file, you certify that you own the copyright for these photos or are authorized by the 
                          owner to make a photo-to-canvas reproduction. 
                      </p>  
                      <p class="small">                        
                          <strong>My logo does not receive a minimum star rating.</strong>        
                      </p>
                      <p class="small" style="vertical-align:top;">                        
                          <input type="checkbox" /><strong>Allow redeemar to professionaly enhance my logo for best result</strong>
                      </p> 
                      <div class="m-t-30 pull-right" style="margin:0 5px 5px 0;">
                        <button ng-click = "add_logo()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                          Next
                        </button>
                      </div>            
                    </div>                    
                   
                  </div> 
                </div>
                <div class="mdl-cell border-box mdl-cell--6-col" id="logo_details_div">
                  <div class="demo-grid-ruler mdl-grid center">
                    <div>
                    <div>
                      <span>Congratulations !</span>
                      <span>We have found your logo </span>
                      <span>
                        <img src="{{file_path}}../uploads/original/{{logo_name}}" width="150" />
                      </span>
                    </div>                    
                    <div id="rating_div" class=" center"> </div>  
                  </div>
                  <div id="loading_div" class="demo-grid-ruler mdl-grid center">
                      <img src="{{file_path}}images/loader.gif" />
                    </div>
                  </div>            
                </div>
            </div>
          </div>
        </div>
  </div>  
</section>
<script>

</script>